* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.welcome-navbar {
  background-color: #043c2c;
  max-width: 90%;
  min-height: 100px;
  margin: 25px auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.login-about {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100px;
}

.about-nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-right: 50px;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.login-button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-right: 50px;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.login-button:hover,
.about-nav-link:hover {
  transform: translateY(-10px);
}

.logo-text {
  display: inline;
  font-size: 50px;
  color: #003f2e;
  margin-right: 25px;
}

.logo-wrapper {
  width: 100%;
  max-width: 475px;
  display: inline;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #efeee5;
  border-radius: 40px;
  overflow: hidden;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 25px;
  border-radius: 50%;
}

.navbar-icon {
  display: grid;
  grid-template-columns: 80px 160px;
  grid-template-rows: 50px;
  min-width: 200px;
  min-height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #efeee5;
  margin: 0px 20px;
  align-items: center;
  box-sizing: border-box;
}

.mainscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #043c2c;
  box-shadow: 5px 0px 5px lightgray;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.mainscreen-logo {
  display: flex;
  align-items: center;
  height: 100px;
  width: fit-content;
}

.mainscreen-logo-icon {
  max-width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px 0px;
  border-radius: 50%;
  margin: 20px;
}

.mainscreen-logo-text {
  font-size: 40px;
  color: #efeee5;
  display: inline-block;
  margin-right: 25px;
}

.home-stats-list {
  display: flex;
  margin: 1vh 0;
}

.home-stats {
  width: 12vw;
  height: 15vh;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-stats::before,
.home-date-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px; /* Thickness of the line */
  background-color: #ccc;
  width: 12vw;
}

.home-stats-value {
  font-family: "Proxima Nova", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0.5vh;
}

.home-stats-label {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #043c2c;
  margin: 5px;
}

.home-greeting {
  font-family: "Proxima Nova", sans-serif;
  font-size: 4.5vw;
  font-weight: bold;
  color: #043c2c;
  display: flex;
  justify-content: start;
  margin-right: 30vw;
  margin-top: 1vh;
}

.home-stats-trend {
  font-family: "Proxima Nova", sans-serif;
  font-size: 17px;
}

.home-stats-trend-decrease {
  color: red;
}

.home-stats-trend-increase {
  color: green;
}

.home-date-container {
  width: 12vw;
  height: 15vh;
  margin: 10px;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.home-date-header {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #395f58;
  margin-top: 0.5vh;
  margin-left: 10%;
}

.home-date-week {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  margin: 5px 10%;
  color: #4e655f;
}

.meetings-visual-container,
.flexible-holds-visual-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 400px;
  height: 350px;
  color: #128673;
  font-family: Arial, sans-serif;
  margin-top: 25px;
  font-size: 30px;
  font-weight: bold;
}

.your-ideal-day-visual-container {
  display: flex;
  align-self: center;
  width: 400px;
  height: 350px;
  color: #128673;
  font-family: Arial, sans-serif;
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}

.scheduling-links-visual-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #004644;
  width: 90%;
  align-self: center;
  align-items: center;
  margin-top: 35px;
  color: #128673;
  font-size: 35px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 5%;
}

.meetings-visual-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004644;
  height: 30%;
  border-radius: 5%;
  margin-top: 10px;
}

.meetings-visual-item-people {
  margin-right: 20px;
}

.meetings-visual-item-icon {
  margin-left: 20px;
}

.your-ideal-day-visual-col1,
.your-ideal-day-visual-col2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 5px;
}

.your-ideal-day-visual-col1-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin-top: 10px;
  background-color: #004644;
  border-radius: 5%;
}

.your-ideal-day-visual-col2-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 42%;
  width: 100%;
  margin-top: 10px;
  background-color: #004644;
  border-radius: 2.5%;
}

.your-ideal-day-visual-col2-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12%;
  width: 100%;
  background-color: #004644;
  border-radius: 5%;
  margin-top: 10px;
}

.nav-box-container {
  width: 430px;
  height: 400px;
  background-color: #00372e;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  margin: 0 10px;
}

.nav-box-label {
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin: 20px 0px 20px 50px;
  display: flex;
  justify-content: start;
}

.rounded-rectangle {
  height: 20px;
  border-radius: 10px;
  background-color: #128673;
  display: inline-block;
  margin-left: 15px;
}

.flexible-holds-visual-item {
  width: 100%;
  display: flex;
  margin-top: 10px;
  background-color: #004644;
  border-radius: 5%;
  align-items: baseline;
}

.flexible-holds-visual-item > * {
  margin-top: 10px;
  margin-left: 15px;
}

.mini-nav-box-container {
  height: 200px;
  width: 430px;
  background-color: #00372e;
  flex-direction: column;
  display: flex;
  border-radius: 2.5%;
  margin: 20px 10px;
}

.connected-apps-visual-container,
.preferences-visual-container {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 35px;
  width: 90%;
  height: 100%;
}

.connected-apps-visual-item,
.preferences-visual-item {
  width: 28%;
  background-color: #004644;
  border-radius: 5%;
  color: #128673;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
